.container {
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:125px;
}
.content {
    width:100%;
    max-width:900px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
}
.description {
    text-align:center;
    margin-bottom:50px;
}
.description > h1 {
    font-size:2rem;
    line-height:2.2rem;
    margin-bottom:35px;
    color:#18366e;
}
.description > h2 {
    font-size:1.4rem;
    line-height:1.6rem;
    color:#18366ec4;
    font-weight:500;
}
.contact {
    width:250px;
    height:52px;
    display:flex;
    justify-content:center; 
    align-items:center;
    border-radius:5px;
    font-size:1.2rem;
    line-height:1.4rem;
    padding-top:6px;
    color:#18366e;
    border:2px solid #18366e;
    transition:ease 0.2s;
}
.contact:hover {
    color:white;
    background-color:#18366e;
}

@media (max-width:768px) {
    .container {
        margin-top:75px;
    }
    .description {
        margin-bottom:25px;
    }
    .description > h1 {
        font-size:1.5rem;
        line-height:1.7rem;
    }
    .description > h2 {
        font-size:1.2rem;
        line-height:1.4rem;
    }
}