.container {
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:100px;
}
.content {
    width:100%;
    max-width:1200px;
    height:375px;
    background-color:#183771;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.figure {
    width:50%;
    height:calc(100% + 35px);
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
.figure > img {
    height:100%;
}
.description {
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.titleContainer {
    width:350px;
    text-align:center;
    margin-bottom:20px;
}
.titleContainer > h1 {
    font-size:2rem;
    line-height:2.2rem;
    color:white;
    margin-bottom:15px;
}
.titleContainer > h2 {
    font-size:1.4rem;
    line-height:1.6rem;
    color:white;
    font-weight:500;
    opacity:0.7;
}
.contact {
    transition:ease 0.3s;
}
.contact:hover {
    opacity:0.8;
}
.contact > img {
    height:85px;
}

@media (max-width:768px) {
    .content {
        border-radius:0;
    }
    .figure {
        display:none;
    }
}